/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#f4f6f9;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
.div_login{
    width:40%;
    margin:3em auto;
    border-radius:0.5em;
    margin-left: 30%;
    margin-right: auto;
    cursor:pointer;
    background:#ddd;
    z-index:0;
    box-shadow:
        0 0 2px rgba(0,0,0,0.2),
        0 1px 1px rgba(0,0,0,0.2),
        0 3px 0 #fff,
        0 4px 0 rgba(0,0,0,0.2),
        0 6px 0 #fff,
        0 7px 0 rgba(0,0,0,0.2);
    background:-webkit-gradient(linear,left top,left 24,from(#EEE),color-stop(4%,#FFF),to(#EEE));
    background:-moz-linear-gradient(top,#EEE,#FFF 1px, #EEE 24px);
    background:-o-linear-gradient(top,#EEEEEE,#FFFFFF 1px,#EEEEEE 24px);
}

.div_login::before{
    content:'';
    position:absolute;
    z-index:-1;
    border:1px dashed #CCC;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
}
/* website/default 音乐封面*/
.back-area{
    background:#f4f6f9;
}

.cover-area{
    height:700px;
}
.play-area{
}
.pic-blur
{ 
	width: 90%;
	height: 90%;
	background-image: url(../Images/1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-webkit-filter: blur(50px);
}
.pic-blur-no
{
	width: 100%;
	height: 100%;
    background-color:#333131;
}
#music-content
{
	position: absolute;
	top: 0px;
	width: 100%;
	height:80%;
	color: aliceblue;
    overflow: hidden;
	/*background-color: aquamarine;*/
}
#mcontent-left
{
	float: left;
	width: 45%;
    height: 100%;
}
#mcontent-right
{
	float:left;
	width: 55%;
	height: 100%;
    overflow: auto;
	position: relative;
}
#lyc-content
{
	width: 50%;
	margin: 50px auto;
}
#lyc-content div p
{
	margin-top: 20px;
	margin-bottom: 20px;
	animation: PAM 2s ease-out;
}
@keyframes PAM
{
	from{margin-top: 40px;margin-bottom: 40px;}
	to{margin-top: 20px;margin-bottom: 20px;}
}
#song-pic
{
	width: 200px;
	height: 200px;
	border-radius: 1000px;
	margin-top: 50px;
    margin-left: 100px;
	background-size: contain;
	background-color: #222222;
	transform: scale(1,1);
	animation:  picAM 1s ease-in;
}
.music-details{
    margin-top: 70px;
}
.music-details .song{
    color: aliceblue;
}
@keyframes picAM
{
    from{transform: scale(0.2,0.2);opacity: 0;}
    to{transform: scale(1,1);}
}
/* website/default 侧边栏*/
.content
{
	width: 100%;
	height: 100%;
}
.usersonglist{
    margin:10px 10px auto;
}
.user-part
{
	display:flex;
    padding:15px 0px 15px 10px;
}
.user-part img
{
	width: 100px;
	height: 100px;
}
.user-details
{
	margin:10px auto;
    text-align:center;
    color:#0c73c2;
}
.songlist-item
{
	display: flex;
	margin: 20px 0 0 20px;
}
.songlist-title{
    position: relative;
    height: 23px;
    margin-top:10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    color: #333;
}
.songlist-item img
{
	display: block;
	width: 50px;
	height: 50px;
}
.songlist-item h6
{
	cursor: default;
	padding-left: 30px;
	margin:auto 0;
}
.song{
    color: #333;
}
.artist{
    color:#999;
}
/* rank */
.rank-title{
    width:100%;
    color:darksalmon;
    vertical-align:central;
    border-bottom:1px solid #CCC;
    margin-top:30px;
    margin-bottom:3px;
}
.rank-title img{
    width: 50px;
	height: 50px;
    border-radius: 5px;
}
.rank-content{
    vertical-align:central;
    font-size: 14px;
}
/* artist */
.artist-list{
    width: 1000px;
    margin:50px auto;
    position: relative;
}
.singer-table{

}
.singer-img{
    width:60px;
    height:60px;
}
/* singer */
.SingerContent
{
   width: 1000px;
   height:333px;
   margin: 0 auto;
   font-size: 14px;
}
.SingerDetails{
   margin-bottom: 100px;
   margin-top: 50px;
   position: relative;
   overflow: hidden;
}
.SingerDetails-bg{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-filter: blur(50px);
    position: absolute;
    top: 0px;
    left: 0px;
}
.Singer-pic{
    height: 333px;
    display: flex;
}
.Singer-pic img{
    width: 300px;
    height: 300px;
    margin: auto;
}
.Singer-details{
    height:333px;
    display: flex;
    background-color: rgba(153, 153, 153, 0.5)
}
.Singer-details ul{
    margin:auto 0;
    list-style: none;
}
.play-all{
    margin-left:30px;
}
.Singer-details ul li{
    margin: 30px 0px;
}
.songlist
{
    margin-bottom: 100px;
}
.tablehead{
    color: #999999;
}
.songlist-table{
    vertical-align: middle;
    width:100%;
}
.song-img{
    width:30px;
    height:30px;
}

/* admin/default */
.nav-back{
    height:700px;
    padding-top:30px;
    padding-left:40px;
}

.admin_login{
    width:30%;
    margin:3em auto;
    border-radius:0.5em;
    margin-left: 20%;
    margin-top:100px;
    margin-right: auto;
    cursor:pointer;
    background:#ddd;
    z-index:0;
    box-shadow:
        0 0 2px rgba(0,0,0,0.2),
        0 1px 1px rgba(0,0,0,0.2),
        0 3px 0 #fff,
        0 4px 0 rgba(0,0,0,0.2),
        0 6px 0 #fff,
        0 7px 0 rgba(0,0,0,0.2);
    background:-webkit-gradient(linear,left top,left 24,from(#EEE),color-stop(4%,#FFF),to(#EEE));
    background:-moz-linear-gradient(top,#EEE,#FFF 1px, #EEE 24px);
    background:-o-linear-gradient(top,#EEEEEE,#FFFFFF 1px,#EEEEEE 24px);
}

.admin_login::before{
    content:'';
    position:absolute;
    z-index:-1;
    border:1px dashed #CCC;
    top:5px;
    bottom:5px;
    left:5px;
    right:5px;
}
/* admin/SongUpload */
.singer-div{
    margin-top:50px;
    margin-left:50px;
}
#photo-display{
    margin-top:50px;
    width: 226px;
	height: 226px;
}
.find-file{
    margin-top:20px;
}
#photo-text{
    margin-right:0px;
    display:inline;
    height: 34px;
    width: 150px;
}
.singer-item{
     margin-top:20px;
     margin-top:20px;
}
.text_1{
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.a-upload {
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    letter-spacing:4px;
    font-size:14px;
    position: relative;
    cursor: pointer;
    color: #ffffff;
    background-color: #5bc0de;
    border-color: #46b8da;
    display: inline-block;
    text-decoration:none;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.a-upload input {
    position: absolute;
    font-size: 40px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer

}
.a-upload:hover {
    color: #111;
    background: #aaa;
    border-color: #ccc;
    text-decoration: none;
}
/* Admin/welcome */
.welcome-container{
    margin:10px;
    margin-right:20px;
}
.wel-title{
    margin:10px;
}

